@import 'bourbon/bourbon';

@mixin perspective($dist){
  -webkit-perspective: $dist;
     -moz-perspective: $dist;
       -o-perspective: $dist;
          perspective: $dist;
}
@mixin transition_transform($duration){
  -webkit-transition: -webkit-transform $duration;
     -moz-transition: -moz-transform $duration;
       -o-transition: -o-transform $duration;
          transition: transform $duration;
}
@mixin transform_style($style){
  -webkit-transform-style: $style;
     -moz-transform-style: $style;
       -o-transform-style: $style;
          transform-style: $style;
}
@mixin transform_origin($origin){
  -webkit-transform-origin: $origin;
     -moz-transform-origin: $origin;
       -o-transform-origin: $origin;
          transform-origin: $origin;
}

@mixin transform($string){
  -webkit-transform: $string;
     -moz-transform: $string;
       -o-transform: $string;
          transform: $string;
}

@mixin backface_visibility($vis){
  -webkit-backface-visibility: $vis;
     -moz-backface-visibility: $vis;
       -o-backface-visibility: $vis;
          backface-visibility: $vis;
}

figure{
  margin: 0;
}

.container {
  width: 400px;
  position: relative;
  margin: 0 auto 40px;
  border: 1px solid #CCC;
  @include perspective(800px);
}
.tile-group{
  @include transform_style(preserve-3d);
  @include transform_origin(center top);
  @include transition_transform(3s);
  z-index: -1;
}
.tile {
  position: relative;
  display: block;
  height: 140px;
  width: 100%;
  color: white;
  text-align: center;

  @include transform_style(preserve-3d);
  @include backface_visibility(hidden);
  @include transform_origin(center top);
  @include transition_transform(3s);
}
.front-tile, .back-tile{
  position: absolute;
  width: 100%;
  height: 100%;
}
.front-tile{
  background-image: url('images/light-wood-texture.jpg');
  .hinges{
    width: 100%;
    background-color: white;
    position: relative;
    &.top{
      height: 2px;
    }
    &.bottom{
      height: 10px;
    }

    .hinge{
      position: absolute;
      width: 100%;
      height: 36px;
      background: transparent url('images/hinge.png') no-repeat top left scroll;
      &.top-left{
        background-position: 0 -28px;
      }
      &.top-right{
        background-position: 100% -28px;
      }
      &.bottom-left{
        top: -28px;
        background-position: 0 0;
      }
      &.bottom-right{
        top: -28px;
        background-position: 100% 0;        
      }
    }
  }
  .tile-content{
    height: 88%;
  }
}
.one .front-tile .tile-content{
  height: 93%;
}
.back-tile{
  background-image: url('images/dark-wood-texture.png');
  @include backface_visibility(hidden);
  @include transform_origin(center center);
  @include transform(rotateX( 180deg ));
}
.tile-group.initial{
  @include transform(rotateX( -180deg ));
}

.three.initial{
  @include transform(rotateX( 180deg ));
}
