/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* GLOBAL definitions */
html, body {
  background: #834e1c url("images/bgtexture-834E1C.png") repeat;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif; }

a {
  color: #834E1C;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.clear {
  clear: both; }

#body-wrapper {
  position: relative;
  width: 896px;
  height: auto !important;
  min-height: 100%;
  margin: auto;
  background: #c0bb81 url("images/bgtexture-C0BB81.png") repeat;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.65); }

#header {
  width: 90%;
  margin: auto;
  padding: 20px 0 0 0; }
  #header .photo {
    float: left;
    margin-right: 30px; }
    #header .photo img {
      width: 120px;
      -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.65);
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.65);
      -webkit-border-radius: 3px;
      border-radius: 3px; }
  #header .intro {
    line-height: 1.6em; }
    #header .intro img {
      max-height: 15px;
      margin-right: 5px; }
  #header h1 {
    font-size: 150%;
    margin-bottom: 10px; }
  #header .links {
    list-style: none;
    margin-top: 10px; }
    #header .links li {
      display: inline-block;
      margin-left: 20px; }

#content {
  padding: 20px 0 0 0; }
  #content .experiences {
    list-style: none; }
    #content .experiences li {
      position: relative;
      width: 100%; }
      #content .experiences li.even {
        background: #cbd4d0 url("images/bgtexture-CBD4D0.png") repeat; }
      #content .experiences li.odd {
        background: #717e6f url("images/bgtexture-717E6F.png") repeat; }
      #content .experiences li .experience {
        width: 90%;
        height: 50px;
        overflow: hidden;
        padding: 0 0 0 10%;
        background-repeat: no-repeat;
        background-size: auto 35px;
        background-position: 5% 7px; }
        #content .experiences li .experience.school {
          background-image: url("images/icon-school.svg"); }
        #content .experiences li .experience.work {
          background-image: url("images/icon-chair.svg"); }
        #content .experiences li .experience.perso {
          background-image: url("images/icon-idea.svg"); }
        #content .experiences li .experience .abstract {
          cursor: pointer; }
          #content .experiences li .experience .abstract .date {
            width: 10%;
            float: right;
            height: 100%;
            font-size: 80%;
            line-height: 50px; }
          #content .experiences li .experience .abstract h1 {
            font-size: 110%;
            line-height: 50px;
            display: inline-block; }
          #content .experiences li .experience .abstract .subtitle {
            font-style: italic;
            display: inline-block;
            margin-left: 10px; }
        #content .experiences li .experience .content {
          display: none; }
        #content .experiences li .experience.unfolded {
          min-height: 50px;
          height: auto; }
          #content .experiences li .experience.unfolded .content {
            display: block; }

#footer {
  bottom: 0;
  position: absolute;
  width: 100%; }
